/*azul marino: #424A5F; AZUL: #55607F; AZUL CLARO: #E7ECED; AMARILLO: #EAB931; VERDE: #31B89A */

body {
	margin: 0;
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: color:
}

main {
	flex: 1;
	padding-top: 80px;
}

/*HEADER*/

.header {
	height: 80px;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	background: #E7ECED;
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	z-index: 3;
}

.buttom-burger {
	width: 40px;
	height: 40px;
}

.burger ul li {
	list-style: none;
}

.burger ul li a {
	text-decoration: none;
	color: #424A5F;
}

.list-burger {
	display: block;
	padding-left: 10px;
	padding-top: 10px;
}

#list-burger {
	display: none;
}

.logo {
	display: block;
	padding-right: 30px;
	width: 20%;
}

/* SECTION DESIGN*/

.section2design {
	background: #424A5F;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.design-options {
	position: relative;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	height: 100px;
}

.design-options li {
	border-color: #424A5F;
	border-width: 3px;
	border-style: solid;
}

.design-options li img {
	width: 100px;
	height: 100px;
}

#font, #colour, #style {
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100px;
	height: auto;
}

#font li {
	border-color: white;
	border-width: 1px;
	width: 100px;
	height: 50px;
	background-color: pink;
	padding: 0;
	margin: 0;
	list-style: none;
}

#colour li {
	border-color: white;
	border-width: 1px;
	width: 100px;
	height: 50px;
	background-color: pink;
	padding: 0;
	margin: 0;
	list-style: none;
}

#style li {
	border-color: white;
	border-width: 1px;
	width: 100px;
	height: 50px;
	background-color: pink;
	padding: 0;
	margin: 0;
	list-style: none;
}

/* SECTION2 INFO*/

.main-img-section1 {
	width: 100%;
	height: auto;
	filter: opacity(0.7);
}

.instructions-paragraph {
	padding: 3%;
	text-align: justify;
}

.steps-band {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.step-element {
	background-color: #EAB931;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.img-step-element {
	display: block;
}

.span-step {
	display: block;
}

/*FORM*/

/*personal information*/

.personal-data, .formation, .experience {
	background-color: #55607F;
}

.personal-information {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-self: center;
	background: #55607F;
}

#personal-information, #experience, #formation, #skills {
	display: none;
}

.botones-personal {
	display: flex;
	flex-direction: row;
	align-content: space-around;
}

.boton-abrir, .boton-cerrar {
	height: 20px;
	width: 20px;
}

input, .description, .experience-text {
	display: block;
	border-radius: 5px;
	background: #E7ECED;
	font-family: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 5px;
	margin: 5px;
	width: 80%;
}

.description {
	resize: vertical;
	font-size: 13.3333px;
	/*NECESARIO porque si no se descuajeringa la caja y también cambia el tamaña y la fuente.*/
}

/*EXPERIENCE*/

.experience-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.experience-dates input, p {
	width: 20%;
	display: inline;
	font-size: 10px;
	color: #E7ECED;
}

.experience-button {
	width: auto;
	height: auto;
}

.experience-text {
	resize: vertical;
}

#experience {
	display: none;
}

/*FOOTER*/

footer {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	background-color: #55607F;
	color: white;
}

.footer-list {
	list-style-type: none;
	align-self: center;
}

.footer-list {
	list-style-type: none;
	align-self: center;
}

.list-element {
	display: block;
	margin-right: 20px;
}

.mini-logo {
	margin-right: 20px;
}
